extends ../layouts/layout

block content
  h1= title
  p Welcome to  #{title}

  mixin block-gsap(g,y)
    section.block-gsap
      ul.box
        li#box-item-one.box-item
          =g
        li#box-item-two.box-item
          =y
        li#box-item-three.box-item
          | 3
        li#box-item-four.box-item
          | 4
      .box-Welcome
        a(href="/secondPage" alt="") 
          button | secondPage

  +block-gsap(1,2)

  // example to using mixin in pug